.header {
  padding: 2rem 0;
  background-color: rgb(1, 43, 46);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 7px 13px 10px rgba(0, 0, 0, 0.8);

}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header div p {
  font-size: 1.4em;
  margin-left: 40px;
  letter-spacing: 10px;
  
}


.header div div {
  margin-right: 70px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.header div div svg {
  margin: 0, 15px, 0, 0;
  width: 35px;
  height: 35px;
  transition: all 1s;
}

.header div div svg:hover {
  width: 40px;
  height: 40px;
}

.header div div span {
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  transition: all 1s;
}

.header div div span:hover {
  color: rgba(247, 213, 129, 0.959);
  background-color: rgba(255, 255, 255, 0.219);
}

.header div nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header div nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header div nav ul li {
  display: inline-block;
  margin-left: 10px;
}

.header div nav ul li a {
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
  transition: all 1s;
}

.header div nav ul li a:hover {
  color: rgba(247, 213, 129, 0.959);
  background-color: rgba(255, 255, 255, 0.219);
}

/*.... main.........*/

.main {
  background-color: rgb(6, 125, 134);
  padding-top: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.hero{
  height: 150px;
  width: 100%;
}
.hero h1{
  text-align: center;
}

.hero p{
  text-align: center;
  font-family: Arial;
}

/*..........catalogo.......*/ 
.catalogo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 18px;
 margin: 15px;
}


.contenedorProductos{
  width: 90%;
  display: flex;
 flex-direction: column;
  padding: 25px 15px;
  border-bottom: #d8dee6 2px solid;
  text-decoration: none;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
}
.contenedorProductos h3 {
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.imagen img{
 height: 100%;
 width: 100%;
 transition: all 1s;
}

.imagen img:hover {
  height: 105%;
  width: 105%;
}

.descripcionProducto {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
}


.descripcionProducto button {
margin: 10px;
background-color: rgb(1, 43, 46);
color: white;
border-radius: 8px;
transition: all 1s;
}

.descripcionProducto button:hover {
  background-color: rgba(1, 43, 46, 0.658);
  
}

/*..........Detalles del producto........*/

.contenedorDetalleProducto{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
}

.contenedorImagen{
width: 50%;
height: 500px;
}
.contenedorImagen img{
width: 100%;
height: 100%;
}

.descripcion{
  width: 50%;
height: 400px;
display: flex;
flex-direction: column;
}
.descripcion span{
  font-size: 25px;
  
}
.descripcion div{
  display: flex;
  flex-direction: row;
}
.descripcion button{
  margin: 10px;
  background-color: rgb(1, 43, 46);
  color: white;
  width: 40px;
  height: 30px;
  border-radius: 8px;
}
